<!DOCTYPE html>
<html>
  <head>
    <title>SpotbotServer</title>

  </head>

  <body>
    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
      <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>
    <main class="container">

    </main>

  </body>
</html>
